body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}
.container{
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: hsl(0, 0%, 100%);
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 3%;
    margin-top: 6%;
}
h3{
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}
h4{
    color: hsl(220, 15%, 55%);
    font-family: sans-serif;
    text-align: center;
}