
body {
    background-color:green;
    font-family: Verdana;
    text-align: center;
}
h1 {
    color: #A03232;
    text-shadow: 0 0 3px #00ffb3, 0 0 5px #f1f1f5;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input, 
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio 
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #d50822;
    border: 1px solid #f50505;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
footer {
        background-color: black;

}
.para {
    color: white;
}